<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FOOD</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">FOOD</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Essentials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nutrition</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1453831362806-3d5577f014a4?dpr=1&auto=format&fit=crop&w=1500&h=1016&q=80&cs=tinysrgb&crop=')">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1496412705862-e0088f16f791?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1469547371150-47620ed0c5ea?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to FOOD</h1>
    <p>Here's what we do</p>

    <div class="container mb-2">
      <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12 p-0 text-center">
          <h6 style="line-height:46px;" class="m-0">Filter by</h6>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 p-1">
          <div class="button-group">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">Price</button>
            <ul class="dropdown-menu col-lg-2">
              <li>&nbsp; <input type="checkbox" id="cost0" />&nbsp;&nbsp;$0-$5</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;$5-$10</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;$10-$15</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;More than $15</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 p-1">
          <div class="button-group">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">Time</button>
            <ul class="dropdown-menu">
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;0 min - 30 min</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;30 min - 1 hr</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;More than 1 hr</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 p-1">
          <div class="button-group">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">Region</button>
            <ul class="dropdown-menu">
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;Asian</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;European</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;North American</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;South American</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 p-1">
          <div class="button-group">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">Meat</button>
            <ul class="dropdown-menu">
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;Poultry</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;Red Meat</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;Fish</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;Pork</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;Vegetarian</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 p-1">
          <div class="button-group">
            <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">Serves</button>
            <ul class="dropdown-menu">
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;1-4</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;4-8</li>
              <li>&nbsp; <input type="checkbox" />&nbsp;&nbsp;More than 8</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-6 p-1">
          <div class="button-group">
            <button type="button" class="btn btn-default btn-block">Reset</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                <a href="#">Chicken with Potatoes and Greens</a>
              </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>

            <div class="container-fluid bottom-align-text">
              <p class="font-weight-bold"><span style="float:left;">&#128336; &nbsp; 30 min</span><span style="float:right;">$10 pp</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1440637475816-2e8bf1d4b6f3?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                <a href="#">Pepperoni Pizza</a>
              </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

            <div class="container-fluid bottom-align-text">
              <p class="font-weight-bold"><span style="float:left;">&#128336; &nbsp; 30 min</span><span style="float:right;">$10 pp</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1473093295043-cdd812d0e601?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                <a href="#">Pasta Pesto</a>
              </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
            <div class="container-fluid bottom-align-text">
              <p class="font-weight-bold"><span style="float:left;">&#128336; &nbsp; 30 min</span><span style="float:right;">$10 pp</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1460306855393-0410f61241c7?dpr=1&auto=format&fit=crop&w=1500&h=997&q=80&cs=tinysrgb&crop=" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                <a href="#">Burger with Fries</a>
              </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <div class="container-fluid bottom-align-text">
              <p class="font-weight-bold"><span style="float:left;">&#128336; &nbsp; 30 min</span><span style="float:right;">$10 pp</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1497668512640-fcbd959e5338?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
                <a href="#">Chicken Tacos</a>
              </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            <div class="container-fluid bottom-align-text">
              <p class="font-weight-bold"><span style="float:left;">&#128336; &nbsp; 30 min</span><span style="float:right;">$10 pp</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- TODO: email subscription -->
  <!-- TODO: Google Analytics -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
