<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FOOD</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">FOOD</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Essentials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nutrition</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="my-4">Chicken with Potatoes and Greens</h1>
    <img src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?dpr=1&auto=format&fit=crop&w=1500&h=994&q=80&cs=tinysrgb&crop=" class="img-fluid " alt="Responsive image">
    <div class="row justify-content-lg-center mt-3">
      <div class="col-lg-10 col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Time:</strong> Time</p>
              <p><strong>Price:</strong> Price</p>
              <p><strong>Region:</strong> Region</p>
              <p><strong>Meat:</strong> Meat</p>
              <p><strong>Serves:</strong> Serves</p>
              <p><strong>Equipment:</strong> Equipment</p>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="mb-3">Ingredients</h5>
              <div class="checkbox">
                <label><input type="checkbox" value="">&nbsp;&nbsp;Ingredient 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">&nbsp;&nbsp;Ingredient 2</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">&nbsp;&nbsp;Ingredient 3</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">&nbsp;&nbsp;Ingredient 4</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">&nbsp;&nbsp;Ingredient 5</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">&nbsp;&nbsp;Ingredient 6</label>
              </div>
              <a href="#" class="btn btn-warning mt-3">Buy on Amazon</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="mb-3">Directions</h3>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</li>
              </ol>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="mb-3">Nutrition</h5>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <p><strong>Calories:</strong> 100 Cal</p>
                    <p><strong>Carbs:</strong> 10 g</p>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <p><strong>Protein:</strong> 10 g</p>
                    <p><strong>Fat:</strong> 10 g</p>
                  </div>
                  <p>Other nutrition info...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
