<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FOOD</title>

  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/modern-business.css" rel="stylesheet">

  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-105754354-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../..">FOOD</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../..">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-content="Coming Soon!" data-toggle="popover" data-trigger="hover" data-placement="bottom" href="#">Equipment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-content="Coming Soon!" data-toggle="popover" data-trigger="hover" data-placement="bottom" href="#">Essentials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-content="Coming Soon!" data-toggle="popover" data-trigger="hover" data-placement="bottom" href="#">Nutrition</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 id="title" class="my-4">{{.Title}}</h1>
    <img id="image" src="{{.Image}}" class="img-fluid " alt="Responsive image">
    <div class="row justify-content-lg-center mt-3">
      <div class="col-lg-10 col-md-12">
        <p id="description">{{.Description}}</p>
      </div>
    </div>
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-4">
            <div class="card-body">
              <p id="time"><strong>Time:</strong> {{.Time}} hr</p>
              <p id="price"><strong>Price:</strong> ${{.Price}} for {{.Servings}} servings</p>
              <p id="region"><strong>Region:</strong> {{.Region}}</p>
              <p id="meat"><strong>Meat:</strong> {{.Meat}}</p>
              <p id="equipment"><strong>Equipment:</strong> {{.Equipment}}</p>
            </div>
          </div>
          <div class="card mb-4">
            <div id="ingredientswithbutton" class="card-body">
              <h5 class="mb-3">Ingredients</h5>
              <p>Click on item links and add correct quantity to cart on Amazon before proceeding to cart.</p>
              <ul class="mt-3" id="ingredients">
                {{range $ingredient := .Ingredients}}
                <li><a class="text-primary" href="https://www.amazon.com/gp/product/{{$ingredient.ASIN}}/ref=afx_dp_ingress&fpw=fresh&tag=molson194-20" target="_blank"><b>{{$ingredient.Name}}</b> ({{$ingredient.Quantity}} for ${{$ingredient.Price}} each)</a></li>
                {{end}}
              </ul>
              <a href="https://www.amazon.com/gp/cart/view.html/ref=nav_cart" class="btn btn-block btn-warning mt-3"><b>My Amazon Cart</b></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="mb-3">Directions</h3>
              <ol id="directions">
                {{range $direction := .Directions}}
                <li>{{$direction}}</li>
                {{end}}
              </ol>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="mb-3">Nutrition</h5>
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <p id="calories"><strong>Calories:</strong> {{.Calories}}</p>
                    <p id="carbs"><strong>Carbs:</strong> {{.Carbs}}</p>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <p id="protein"><strong>Protein:</strong> {{.Protein}}</p>
                    <p id="fat"><strong>Fat:</strong> {{.Fat}}</p>
                  </div>
                  <p id="nutrition">{{.Nutrition}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contactDiv" class="container-fluid bg-info p-3 text-center">
    <h6>Want our favorite dishes from each week? Join our mailing list!</h6>
    <form id="contactForm" class="form-inline justify-content-center">
      <label class="sr-only" for="inlineFormInputGroup">Your Email</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" id="email" placeholder="Your Email">
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 pt-4">
          <p class="m-0 text-center text-white">Copyright &copy; FOOD 2017</p>
        </div>
        <div class="col-md-6 col-sm-12 pt-4">
          <h3 class="m-0 text-center text-white">FOOD</h3>
          <p class="m-0 text-center text-white">Sending you the goods since 1853</p>
        </div>
        <div class="col-md-3 col-sm-12 pt-4">
          <p class="m-0 text-center text-white">Contact molson194@gmail.com</p>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/recipeparse.js"></script>

</body>

</html>
